# 딥러닝 3일차

## 특징공학

###### 범주 특징의 변환

In [33]:
data = [
    {"price": 1200000000, " rooms" : 3, "location" : "잠실동"},
    {"price":  700000000, " rooms" : 4, "location" : "천호동"},
    {"price": 1300000000, " rooms" : 4, "location" : "신천동"},
    {"price":  450000000, " rooms" : 2, "location" : "천호동"},
    
]

In [34]:
import numpy as np
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=True, dtype=np.int64)
dv.fit_transform(data)

<4x5 sparse matrix of type '<class 'numpy.int64'>'
	with 12 stored elements in Compressed Sparse Row format>

In [35]:
data

[{'price': 1200000000, ' rooms': 3, 'location': '잠실동'},
 {'price': 700000000, ' rooms': 4, 'location': '천호동'},
 {'price': 1300000000, ' rooms': 4, 'location': '신천동'},
 {'price': 450000000, ' rooms': 2, 'location': '천호동'}]

In [36]:
import numpy as np
from sklearn.feature_extraction import DictVectorizer

dv = DictVectorizer(sparse=False, dtype=np.int64)
dv.fit_transform(data)

array([[         3,          0,          1,          0, 1200000000],
       [         4,          0,          0,          1,  700000000],
       [         4,          1,          0,          0, 1300000000],
       [         2,          0,          0,          1,  450000000]],
      dtype=int64)

In [37]:
dir(dv) # 클레스 보는 방법 dir

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_add_iterable_element',
 '_check_n_features',
 '_get_param_names',
 '_get_tags',
 '_more_tags',
 '_repr_html_',
 '_repr_html_inner',
 '_repr_mimebundle_',
 '_transform',
 '_validate_data',
 'dtype',
 'feature_names_',
 'fit',
 'fit_transform',
 'get_feature_names',
 'get_params',
 'inverse_transform',
 'restrict',
 'separator',
 'set_params',
 'sort',
 'sparse',
 'transform',
 'vocabulary_']

In [38]:
dv.get_feature_names()

[' rooms', 'location=신천동', 'location=잠실동', 'location=천호동', 'price']

###### 텍스트 특징 변환

In [52]:
text = [ 
    "mobile phone",
    "battlegrounds mobile game",
    "phone game"
]

In [53]:
from sklearn.feature_extraction.text import CountVectorizer

cv = CountVectorizer()
X = cv.fit_transform(text)
X

<3x4 sparse matrix of type '<class 'numpy.int64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [54]:
import pandas as pd
pd.DataFrame(X.toarray(), columns=cv.get_feature_names())

   battlegrounds  game  mobile  phone
0              0     0       1      1
1              1     1       1      0
2              0     1       0      1

In [55]:
from sklearn.feature_extraction.text import TfidfVectorizer

tv = TfidfVectorizer()
X = tv.fit_transform(text) # tf가중치를 적용한 수치로 변환
X

<3x4 sparse matrix of type '<class 'numpy.float64'>'
	with 7 stored elements in Compressed Sparse Row format>

In [56]:
pd. DataFrame(X.toarray(), columns=tv.get_feature_names())

   battlegrounds      game    mobile     phone
0       0.000000  0.000000  0.707107  0.707107
1       0.680919  0.517856  0.517856  0.000000
2       0.000000  0.707107  0.000000  0.707107

###### 누락 데이터 대채

In [63]:
X = np.array([[np.nan, 0, 3],
            [3, 7, 9],
            [3, 5, 2],
            [4, np.nan, 6],
            [8, 8, 1]])
y = np.array([14, 16, -1, 8, -5])

In [74]:
from sklearn.impute import SimpleImputer #교제와 다름 
imp = SimpleImputer(strategy = 'mean')
X2 = imp.fit_transform(X)
X2

array([[4.5, 0. , 3. ],
       [3. , 7. , 9. ],
       [3. , 5. , 2. ],
       [4. , 5. , 6. ],
       [8. , 8. , 1. ]])